<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tooset_test02">
    <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 갤러리 접근 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tooset14"
        android:label="TooSet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tooset_test02">
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="Search"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReviewDetail"
            android:exported="true"
            android:label="Detail"
            android:parentActivityName=".ReviewActivity" />
        <activity
            android:name=".EmailVerifyActivity"
            android:exported="true"
            android:label="Email Verify" />
        <activity
            android:name=".ReviewAddActivity"
            android:exported="true"
            android:label="Review"
            android:parentActivityName=".ReviewActivity" />
        <activity
            android:name=".UserAddActivity"
            android:exported="true"
            android:label="Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PasswordResetActivity"
            android:exported="true"
            android:label="Password Reset"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JoinActivity"
            android:exported="true"
            android:label="Join" />
        <activity
            android:name=".FaqActivity"
            android:exported="false"
            android:label="FAQ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false"
            android:label="Review"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TemHumActivity"
            android:exported="false"
            android:label="Humidity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:label="Update"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>